@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.pr-05 {
  padding-right: 0.5rem;
}
.pl-05 {
  padding-left: 0.5rem;
}
.pr-04 {
  padding-right: 0.4rem;
}
.pl-04 {
  padding-left: 0.4rem;
}
