@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.pr-05 {
  padding-right: 0.5rem;
}
.pl-05 {
  padding-left: 0.5rem;
}
.pr-03 {
  padding-right: 0.3rem;
}
.pl-03 {
  padding-left: 0.3rem;
}
